<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">


<form [formGroup]="heroform" >
	<div class="form-group">
	<label for="username">Username </label>
		<input type="username" name="email" ng-model="user.username" id="inputemail" class="form-control" placeholder="username" [ngClass]="{'is-invalid': submitted}">
	</div>
	<br>
	<div class="form-group">
	<label for="inputpassword" class="insert">Password </label>
		<input type="password" name="password" ng-model="user.password" id="inputpassword" class="form-control"  placeholder="password" [ngClass]="{'is-invalid': submitted}" autocomplete>
	</div>
	<br>
	<div class="form-group"><button routerLink="/list" [disabled]="!heroform.valid"> Entra</button>
	</div>
</form>



<!--<h2>LOGIN</h2>
<form [formGroup]="loginForm" ng-submit="onSubmit">
	<div class="form-group">
		<label for="username">Username</label>
			<input type="text" formControlName="username" class="form-control" ng-class="{ 'is-invalid': submitted && f.username.errors }" />
        	<div ng-if="submitted && f.username.errors" class="invalid-feedback">
        		<div ng-if="f.username.errors.required">Username is required</div>
    		</div>
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" formControlName="password" class="form-control" ng-class=" {is-invalid: submitted && f.password.errors } " />
		<div ng-if="submitted && f.password.errors" class="invalid-feedback">
			<div ng-if="f.password.errors.required">Password is required</div>
		</div>
	</div>
	<div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
      </div>
</form>-->
<!---
<div><span>username:</span> <input type="text" name="username"></div>
<div><span>password:</span><input type="password" name="password"></div>
<button type="submit" class="btn" (click)="submit()">Entra</button>

<script type="text/javascript">
	function submit() {
		if ({{user.name}}== "admin" && {{user.password}}=="password"){

		}
	}
</script>-->