.signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.signin .signin-head {
	 margin-bottom: 10px;
}

.signin .form-control{
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;

}

.signin .form-control:focus{
	z-index: 2;
}

.signin input[type="email"]{
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.signin input[type="password"]{
	  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}