<head><script src="/lib/angular-1.4.8.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<h3>Lista Eroi</h3>

<button>Aggiungi Supereroe</button>

<div><input class="form-control" id="myInput" type="text" placeholder="filter">
</div>

<table id="heroes">
  <thead>
  <tr role="deletions">
    <th>Nome </th>
    <th>Età</th> 
    <th>Sesso</th>
    <th>Segni particolari</th>
    <th>Note</th>
    <th>Azioni</th> 
  </tr>  
  </thead>
  <tbody>
  <tr *ngFor="let herolist of list; let i = index;" id="myTable">
  	<th>{{herolist.name}}</th>
  	<th>{{herolist.age}}</th>
  	<th>{{herolist.gender}}</th> 
  	<th>{{herolist.marks}}</th>
  	<th>{{herolist.note}}</th>

    <th>  
    <button mat button (click)="openDialog()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#popmodal">Modify</button>
  	<button type="button" class="btn btn-secondary" data-toggle="modal" >Details</button>
  	<button type="button" class="btn btn-third" data-toggle="modal" value="Delete" (click)="delete(i)">Delete</button> </th>
  </tr>
  </tbody>
</table>


<!--
<div class="modal fade" id="popmodal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="listModalLabel">Modifica eroe</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="modname" class="col-form-label">Name:</label>
            <input type="textbox" name="box" class="form-control" id="name-text">
            <label for="modname" class="col-form-label">Age:</label>
             <input type="textbox" name="box" class="form-control" id="age-text">
            <label for="modname" class="col-form-label">Gender:</label>
             <input type="textbox" name="box" class="form-control" id="gender-text">
            <label for="modname" class="col-form-label">Distinguish Marks:</label>
             <input type="textbox" name="box" class="form-control" id="marks-text">
            <label for="modname" class="col-form-label">Notes:</label>
             <input type="textbox" name="box" class="form-control" id="note-text">
          </div>
        </form>
      </div>
      <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>
-->