<h3 mat-dialog-title>Modifica eroe</h3>
          
 <div class="modal-body">
   <form mat-form-field>
    <div mat-dialog-content>
      <label for="modname" class="col-form-label">Name:</label>
      <input type="textbox" name="box" class="form-control" id="name-text" NgModel="name" placeholder="name">
      <label for="modname" class="col-form-label">Age:</label>
      <input type="textbox" name="box" class="form-control" id="age-text">
      <label for="modname" class="col-form-label">Gender:</label>
      <input type="textbox" name="box" class="form-control" id="gender-text">
      <label for="modname" class="col-form-label">Distinguish Marks:</label>
      <input type="textbox" name="box" class="form-control" id="marks-text">
      <label for="modname" class="col-form-label">Notes:</label>
      <input type="textbox" name="box" class="form-control" id="note-text">
    </div>
  </form>
 </div>
 <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button>Save</button>
 </div>
